.main-container {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

}
.main-section{
  background-color: #F5F5F5;;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .main-container {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main-container {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}